<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calendar</title>
        <style>
            h1 {
                text-align: center;
            }
            pre {
                display: flex;
                justify-content: center;
                font-family: monospace;
                background-color: #f4f4f4;
                padding: 10px;
                border-radius: 5px;
                overflow-x: auto;
            }
        </style>
    </head>
    <body>
        <h1>Календарь на 2025 года</h1>
        <pre>{{ calendar_output }}</pre>
    </body>
</html>
