<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article-03</title>
</head>
<body>
    <h1>Title: My First Article</h1>
    <p>Author: John Doe</p>
    <p>Publication Date: 2022-01-01</p>
    <p>Content:</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <p>This is an example of an article.</p>
    <p>This article is about the history of technology.</p>
    <a href="http://127.0.0.1:8000/blog/article_02/">Link 02</a>
</body>
</html>